html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  box-sizing: border-box;
  overflow: hidden;
}

.home-container .home-table-container {
  width: 90vw;
  max-width: 1000px;
  max-height: 60vh;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.home-table {
  width: 100%;
  table-layout: fixed;
}

.home-table th,
.home-table td {
  text-align: center;
  padding: 10px;
}

button.table-action-button {
  background-color: #ff8308;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.table-action-button:hover {
  background-color: #aa5807;
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 180px;
    height: auto;
  }

  .red-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
  }

  .yellow-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 196, 0);
    margin: 0 auto;
  }

  .green-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin: 0 auto;
  }